body{
  padding:10px !important;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
input[type='text'],input[type='number']{
  height:50px !important;
}
input[type='range']{
  width:90%;
}

.page-header{
  background:#3498DB !important;
}
